body {
    font-family: "oswald", sans-serif;
    overflow-x: hidden;
}

.firstname {
    font-weight: 300;
}

.back-bar {
    background-color: black;
    height: 50px;
}


.navbar-brand {
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 600;
    /* padding-top: 30px; */
}

.home {
    padding-left: 20px;
}

.brandname {
    padding-top: 20px;
    font-weight: 300;
}

.navbar-nav a {
    /* padding-top: 30px; */
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
}

.navbar-nav li {
    padding-right: 20px;
    /* margin-left: 0 auto; */
}

.dropdown-item:active {
    background-color: #131313;
}

/* jumbotron */
.banner {
    background-image: url("./images/banner.jpg");
    background-size: cover;
    height: 600px;
    
}

.banner h1 {
    padding-top: 250px;
    padding-left: 40px;
    font-weight: 200;
    color: white;
    /* text-align: center; */
}

.banner p {
    margin-left: 0;
    padding-left: 40px;
    color: #a6a6a6;
    text-align: left;
}

.button-new {
    margin-left: 40px;
    width: 200px;
    height: 40px;
    background-color: black;
    color: #a6a6a6;
    border-color: #a6a6a6;

}

.button-new:hover {
    background-color: #a6a6a6;
    color: black;
    cursor: pointer;
}

/* web dev */
.web {
    height: 750px;
}

.dev {
    color: black;
    opacity: .1;
    font-size: 230px;
    letter-spacing: 45px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 200px;
    z-index: -1;
    text-align: center;
}

.elegant {
    margin-top: -340px;
}

.elegant h2 {
    color: #252525;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center!important;
    font-style: italic;
}

.elegant p {
    padding-top: 20px;
    color: #252525;
    font-weight: 300;
    line-height: 65px;
    font-size: 20px;
    /* padding-left: 40px; */
    text-align: center;
    font-style: italic;
}

/* bar */
.bar {
    background-color: black;
    height: 105px;
    line-height: 10px;
}

.stuff {
    margin-top: 30px;
    
}

.stuff2 {
    padding-top: 45px;
}

.bar p {
    color: white;
    text-align: center;
}

.bar-title {
    font-size: 11px;
    letter-spacing: 2px;
}

.bar-info {
    font-size: 18px;
    letter-spacing: 2px;
    /* text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc; */
}


.border-right {
    height: 45px;
}

.have {
    text-align: right;
    letter-spacing: 3px;
}

/* marble */
.marble {
    background-image: url("./images/marbleb.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
}


.marble h1 {
    padding-top: 250px;
    font-weight: 200;
    color: white;
    padding-left: 40px;
}

.marble p {
    font-size: 20px;
    text-align: left;
    padding-left: 40px;
    font-weight: 200;
    color: #a6a6a6;
}

.min {
    width: 100%;
}

.marble ul {
    padding-left: 40px;
    font-weight: 200;
    list-style-type: circle;
    list-style-position: inside;
    color: #a6a6a6;
}

/* footer */
.footer-back {
    height: 150px;
    background-color: #131313;
    padding-top: 50px;
}

.footer-copy {
    font-size: 12px;
    letter-spacing: 1px;
}

/* ABOUT PAGE */
.collage {
    /* background-color: white; */
    background-image: url("./images/collage.png");
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 180px;
}

.m-area {
    padding-left: 40px;
    padding-top: 100px;
    color: #909090;
}

.white-line {
    height: 50px;
    /* background-image: url("./images/marbleb.jpg"); */
    background-color: white;
}


.about-section {
    padding-top: 50px;
    /* background-image: url("./images/marbleb.jpg"); */
    background-color: black;
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}


.about-back {
    height: 500px;
    padding-left: 40px;
}

.about-des {
    margin-right: 40px;
}

.about-back h1 {
    color: white;
    text-align: left;
    padding-top: 80px;
    font-weight: 200;
}

.line-under {
    background-color: white;
}

.about-back p {
    text-align: left;
    padding-left: 0;
    font-size: 20px;
    margin-right: 0;
    font-weight: 200;
}

.about-back ul li {
    color: #a6a6a6;
    list-style-type: circle;
    list-style-position: inside;
    color: #a6a6a6;
    font-weight: 200;
}


.line {
    height: 1px;
    background-color: #a6a6a6;
    margin-top: 80px;
    width: 30px;
}

.line1 {
    margin-top: 20px;
}

.about-back img {
    /* width: 80px; */
    max-width: 100%;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.skills-area {
    padding-top: 30px;
    background-image: url("./images/marbleb.jpg");
    /* background-color: #131313; */
}

.skills-area img {
    width: 100px;
    margin: auto;
}


.skills {
    margin-right: 130px;
}

.skills p {
    padding-top: 20px;
}


.me-img {
    width: 100%;
    margin-top: -180px;
}

/* history */
.history-b {
    height: 850px;
}

.history-line {
    margin-left: 30px;
    width: 1px;
    height: 550px;

}

.history {
    padding-top: 150px;
    padding-bottom: 130px;
}

.history p {
    text-align: left;
    font-weight: 300;
}

.testimonial {
    height: 500px;
    background-image: url("./images/marbleb.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial h1 {
    padding-top: 100px;
}

.testimonial p {
    padding-left: 0;
}

.testimonial h1, p {
    color: #a6a6a6;
    text-align: center;
}


.review {
    font-size: 36px;
    color: white;
    font-style: italic;
}


.quotes {
    font-size: 80px;
    font-family: "century";
}

/* about footer */
.footer-back2 {
    height: 150px;
    background-color: #131313;
    padding-top: 50px;
}

.footer-copy2 {
    font-size: 12px;
    letter-spacing: 1px;
}

/* portfolio */
.port-top {
    text-align: center;
    background-color: black;
    background-image: url("./images/collage2.png");
    height: 400px;
    padding-top: 120px;
}

.port-top h1 {
    font-size: 80px;
    font-weight: 200;
    color: white;
}

.port-top p {
    font-style: italic;
    letter-spacing: 2px;
}

.marble2 {
    padding-top: 200px;
}

/* contact */
form {
    padding-top: 70px;
    padding-bottom: 70px;
}

.form-area {
    height: 550px;
}

.form-control {
    font-weight: 200;
}

.button-contact {
    padding-left: none;
}

.button-contact {
    width: 200px;
    height: 40px;
    background-color: black;
    color: #a6a6a6;
    border-color: #a6a6a6;

}

.button-contact:hover {
    background-color: #a6a6a6;
    border-color: #a6a6a6;
    color: black;
    cursor: pointer;
}

.message {
    height: 200px;
    max-width: 100%;
}

/* trestle watch co page */
.tres-top {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 30px;
}

.tres-top h1 {
    font-weight: 200;
}

.tres-top p {
    font-weight: 300;
    font-size: 18px;
    color: gray;
}

.trestbanner {
    background-image: url("./images/everything.jpg");
    height: 600px;
    width: 100%;
    background-size: cover;
}

.tres-story {
    background-color: black;
    height: 400px;
}

.tres-story h1 {
    color: white;
    padding-top: 140px;
    font-weight: 200;
    text-align: center;
}

.tres-story p {
    color: white;
    /* text-align: left; */
    font-weight: 200;
    font-size: 18px;
}

.chob {
    background-image: url("./images/marbleb.jpg");
    padding-top: 150px;
    height:600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chob h2 {
    color: white;
    font-weight: 300;

}

.chob ul li {
    color: white;
    font-weight: 200;
    font-size: 18px;
    list-style-type: circle;
    list-style-position: inside;
}

.mac-area {
    padding-top: 140px;
    padding-bottom: 150px;
}

.tres-mac img {
    margin: 0 auto;
    max-width: 100%;
}