body {
    font-family: "roboto condensed", sans-serif;
    overflow-x: hidden;
}

.firstname {
    font-weight: 300;
}

.back-bar {
    background-color: black;
    height: 50px;
}


.navbar-brand {
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 600;
    /* padding-top: 30px; */
}

.home {
    padding-left: 20px;
}

.brandname {
    padding-top: 20px;
    font-weight: 300;
}

.navbar-nav a {
    /* padding-top: 30px; */
    font-size: 12px;
    font-weight: 700;
}

.navbar-nav li {
    padding-right: 20px;
    /* margin-left: 0 auto; */
}

/* jumbotron */
.banner {
    background-image: url("./images/banner.jpg");
    background-size: cover;
    height: 600px;
    
}

.banner h1 {
    padding-top: 250px;
    padding-left: 40px;
    color: #424242;
    /* text-align: center; */
}

.banner p {
    margin-left: 0;
    padding-left: 40px;
    color: #424242;
}

.button-new {
    margin-left: 40px;
    width: 200px;
    height: 40px;
    background-color: black;
    color: #424242;
    border-color: #424242;

}

.button-new:hover {
    background-color: #424242;
    color: black;
    cursor: pointer;
}

/* web dev */
.web {
    height: 750px;
}

.dev {
    color: black;
    opacity: .1;
    font-size: 230px;
    letter-spacing: 45px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 200px;
    z-index: -1;
    text-align: center;
}

.elegant {
    margin-top: -340px;
}

.elegant h2 {
    color: black;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center!important;
}

.elegant p {
    padding-top: 20px;
    color: #414042;
    font-weight: 400;
    line-height: 65px;
    font-size: 20px;
    /* padding-left: 40px; */
    text-align: center;
}

/* bar */
.bar {
    background-color: black;
    height: 105px;
    line-height: 10px;
}

.stuff {
    margin-top: 30px;
    
}

.stuff2 {
    padding-top: 45px;
}

.bar p {
    color: white;
    text-align: center;
}

.bar-title {
    font-size: 11px;
    letter-spacing: 2px;
}

.bar-info {
    font-size: 18px;
    letter-spacing: 2px;
    /* text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc; */
}


.border-right {
    height: 45px;
}

.have {
    text-align: right;
    letter-spacing: 3px;
}

/* marble */
.marble {
    background-image: url("./images/marbleb.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.marble h1, p {
    padding-left: 40px;
    color: #424242;
}

.marble h1 {
    padding-top: 250px;
}

.marble p {
    font-size: 20px;
}

.min {
    width: 100%;
}

.marble ul {
    padding-left: 40px;
    font-weight: 700px;
    list-style-type: circle;
    list-style-position: inside;
    color: #424242;
}

/* footer */
.footer-back {
    height: 150px;
    background-color: #131313;
    padding-top: 50px;
}

.footer-copy {
    font-size: 12px;
    letter-spacing: 1px;
}

/* ABOUT PAGE */
.about-johnson {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: 28px;
    color: white;
}

.about-des {
    line-height: 30px;
    font-size: 18px;
}

.top-marble {
    background-image: url("./images/marbleb.jpg");
    height: 200px;
}

.the-bar {
    height: 60px;
    background-color: black;
}

.about-back {
    background-color: white;
    margin-top: -100px;
    padding: 30px;
    padding-right: 50px;
    padding-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-section {
    padding-top: 70px;
    padding-bottom: 50px;
}

.about-section h1 {
    color: #D3D3D3;
}

.testimonial {
    height: 300px;
    background-color: black;
}

.testimonial h1 {
    padding-top: 50px;
}

.testimonial h1, p {
    color: #424242;
    text-align: center;
}

.review {
    font-size: 36px;
    color: white;
}

.person {
    font-style: italic;
}

.quotes {
    font-size: 80px;
    font-family: "century";
}